@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sunflower:wght@300;500;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{box-sizing: border-box;}
body{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
}
a,a:link{
    color: #444;
}

/* 목록보기 디자인 */
.bbslist{
    width: 100%;
    border-bottom: 2px solid #333;
    margin-bottom: 40px;
}
.bbslist th{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #999;
    border-bottom: 2px solid #666;
    text-align: center;
    position: relative;
}
.bbslist th:not(:last-child)::after{
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    top: 15px;
    right: 0;
    background: #999;
    position: absolute;
}
.bbslist td{
    padding: 15px;
    border-bottom: 1px solid #999;
}
.bbslist td.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.page-link{
    color: #333;
}
a.page-link:hover{
    color: #000;
}
.pagination .page-item.active .page-link{
    background-color: #666 !important;
    border-color:#666 ;
}